<div class="md:container md:mx-auto">
    <div class="grid grid-cols-12 gap-y-5 gap-x-5">
        <h1 class="col-span-full text-white md:text-9xl text-center">Ravenclaw Electrics</h1>

        <h2 class="col-span-full text-white md:text-3xl">{{car.name}}</h2>

        <div class="col-span-full">
            <figure class="relative hover:opacity-80 col-span-full">

                <img src=/{{car.url}} alt="">
            </figure>
        </div>

        <div class="col-span-6 text-white md:text-xl pl-10">

            <p>{{car.description}}</p>
        </div>
        <div class="col-span-6 text-white text-right md:text-xl pr-10">
            <h2 class="underline">Specifications:</h2>
            <ul>
                <li>Speed (0-100km/h): {{car.speed}}s</li>
                <li>Range: {{car.range}} kms</li>
                <li>Charge time: {{car.charge_duration}} hrs</li>
                <li>Units Available: {{car.quantity}}</li>
                <li>Price: ${{car.price}} NZD</li>
            </ul>
        </div>
        <br>
        <br>

        <div class="col-span-full text-white text-center md:text-lg">



            <div>
                <button class="hover:underline" onclick="goBack()">Return to list</button> / <a class="hover:underline"
                    href="/">Return to home page<a>


            </div>

        </div>

    </div>
</div>

<script>
    function goBack() {
        window.history.back()
    }
</script>